.App {
  text-align: center;
}

.card
{
  margin-left: 37.5%;
  margin-top: 10vh;
  width: 25%;
  height: 50vh;
  background-color: rgb(51, 42, 39);
  color: whitesmoke;
}
.input
{
  margin-top: 10%;
  text-align: center;
 
}
input
{
  height: 30px;
  font-style: oblique;
  border-radius: 10px;
  width: 40%;
}
p{
  margin: 20px;
  
  font-size: large;
}
.data
{
  display: flex;
  justify-content: space-between;
}
.place
{
  float: left;
  text-align: center;
  padding-top: 35px;
  padding-left: 10px;
font-weight: bolder;
font-size:xx-large;
/* background-image: url(`http://openweathermap.org/img/wn/10d@2x.png`); */
}
.details
{
  padding-top: 35px;
text-align:left;
}
.list
{
 padding-top: 3px;
 margin-left: 30%;
  display: flex;
}
